//@import './reset';
//@import './fonts';
@import './theme';

//@font-face {
//  font-family: 'Celias';
//  src: url('../assets/fonts/Celias.ttf');
//}
//
//@font-face {
//  font-family: 'Celias Bold';
//  src: url('../assets/fonts/Celias-Bold.ttf');
//}
//
//@font-face {
//  font-family: 'Poppins Bold';
//  src: url('../assets/fonts/Poppins-Bold.ttf');
//}
//
//@font-face {
//  font-family: 'Poppins Regular';
//  src: url('../assets/fonts/Poppins-Regular.ttf');
//}

:root {
  --body-text-color: #fff;
  --body-bg-color: linear-gradient(to bottom right, #1c0e40, #040404 50%);
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background-color: var(--color-scrollbar-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
}

*:focus {
  outline: none;
}

body {
  margin: 0;

  box-sizing: border-box;

  font-family: Fredoka One, sans-serif;
  font-weight: 400;

  color: var(--body-color);
  background-color: var(--body-background-color);
  background-repeat: no-repeat;
}

input {
  font: 400 15px "Fredoka One";
  width: 100%;
}

input::placeholder {
  //font: 700 20px "Celias";
  color: var(--body-color);
  opacity: 0.2;
}

.disabled {
  color: #BFBFBF;
  cursor: default;
  filter: grayscale(1);
  pointer-events: none;
}
