@import '../../styles/mixins.scss';

.page {
  padding-top: 170px;
  padding-bottom: calc(100vh - 525px);
  background: var(--gradient-background);
}

.pageContainer {
  @include pageContainer();
}

.title {
  font-size: 40px;
  text-align: center;
  color: var(--grey);
  margin-bottom: 62px;
}

.cards {
  width: 100%;
  display: grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.control_panel {
  @include flex(row, center, space-between);
  margin-bottom: 50px;
}
.input {
  width: 72%;
  height: 42px;
}

.selector {
  width: 25%;
  height: 42px;
}

.pagination {
  @include flex(row, center, center);
}
