@import '../../styles/mixins.scss';

.header {
  @include grid(1fr 1fr, 1fr, 0);
  position: fixed;
  width: 100%;
  padding: 0 30px;
  pointer-events: none;
  height: 120px;

  @include b(mobile) {
    height: 60px;
    padding: 0 10px 0 16px;
    background: #ffffff;
    box-shadow: 0px 4px 25px 0px #E5AC4B40;
    border-radius: 0px 0px 20px 20px;
  }
}

.headerLeft {
  @include grid(1fr, 1fr, 0);
  align-content: center;
  justify-content: center;
}

.headerRight {
  @include grid(1fr, 1fr, 0);
  align-content: center;
  justify-content: center;
}

.logo {
  max-width: 130px;
  cursor: pointer;
  pointer-events: auto;
  align-self: center;

  @include b(mobile) {
    max-width: 100px;
    svg {
      width: 92px;
      height: 48px;
    }
  }
}

.button {
  @include flex(row, center, center, nowrap);
  gap: 6px;
  height: 41px;
  border-radius: 33px;
  padding: 0 41px;
  cursor: pointer;
  background: #63482A;
  color: #FFFFFF;
  max-width: 200px;
  align-self: center;
  justify-self: right;
  pointer-events: auto;

  @include b(mobile) {
    padding: 0 24px;
  }
}
