@import '../../styles/mixins.scss';

.page {
  background: var(--gradient-background);
}

.pageContainer {
  @include pageContainer;
}

.containerTabs {
  @include flex(row, center, center, nowrap);
  margin: 33px 0 0 0;
  min-width: 200px;
  max-width: 480px;
  padding: 8px 6px;
  border-radius: 20px;
  box-shadow: 0px 4px 25px 0px #E5AC4B40;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

  @include b(mobile) {
    margin: 70px 0 0 0;
  }
}

.buttonTab {
  @include flex(row, center, center, nowrap);
  gap: 6px;
  height: 41px;
  border-radius: 20px;
  padding: 6px 34px 6px 34px;
  background: #FFFFFF;
  cursor: pointer;
}

.buttonTabActive {
  @include flex(row, center, center, nowrap);
  gap: 6px;
  height: 41px;
  border-radius: 20px;
  padding: 6px 34px 6px 34px;
  background: #F4BA46;
  color: #FFFFFF;
  cursor: pointer;
}

.container {
  margin: 37px 0 0 0;
  min-width: 200px;
  max-width: 480px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 25px 0px #E5AC4B40;

  @include b(mobile) {
    margin: 10px 0 0 0;
  }
}

.header {
  @include grid(1fr 1fr, 1fr, 0);
  width: 100%;
}

.title {
  margin: 10px;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.settings {
  @include flex(row, center, flex-end, nowrap);
  svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}

.inputs {
  @include grid(1fr, 1fr 14px 1fr, 0);
  margin: 16px 0 0 0;

  @include b(mobile) {
    @include grid(1fr, 1fr 5px 1fr, 0);
  }
}

.bigInput {
  @include flex(row, center, space-between, nowrap);
  width: 100%;
  padding: 0 20px 0 0;
  border-radius: 32px;
  background: #F8F5EA;
  height: 120px;

  @include b(mobile) {
    height: 90px;
  }
}

.input {
  background: transparent;
  border: none;
  height: 100%;
  padding: 0 30px;
  font-size: 30px;
  line-height: 36px;

  @include b(mobile) {
    padding: 0 10px;
    font-size: 22px;
    line-height: 26px;
  }
}

.buttonSwap {
  @include flex(row, center, center, nowrap);
  margin: -12px 0 -12px 30px;
  box-shadow: 0px 1px 3px 0px #25292E14;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  z-index: 1;
  cursor: pointer;

  @include b(mobile) {
    width: 32px;
    height: 32px;
  }
}

.select {
  @include flex(row, center, flex-end, nowrap);
  align-self: center;
  justify-self: right;
}

.buttonSelect {
  @include flex(row, center, center, nowrap);
  gap: 6px;
  height: 44px;
  border-radius: 20px;
  padding: 6px 12px 6px 12px;
  background: #FFFFFF;
  cursor: pointer;
  text-transform: uppercase;

  @include b(mobile) {
    font-size: 14px;
    line-height: 17px;
  }
}

.imageButtonSelect {
  align-self: center;
  justify-self: center;
  width: 32px;
  height: 32px;
}

.textButtonSelect {
  align-self: center;
  justify-self: center;
  white-space: nowrap;
}

.wrapperArrowButtonSelect {
  align-self: center;
  justify-self: center;
  width: 11px;
}

.arrowButtonSelect {
  width: 11px;
  height: 7px;
}

.buttons {
  @include flex(row, center, center, nowrap);
  margin: 20px 0 0 0;
}

.button {
  @include flex(row, center, center, nowrap);
  gap: 6px;
  height: 65px;
  border-radius: 33px;
  padding: 6px 41px 6px 41px;
  cursor: pointer;
}

