@import '../../styles/mixins';

.swap-form {
  margin: 37px 0 0 0;
  min-width: 200px;
  max-width: 480px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 25px 0 #E5AC4B40;

  @include b(mobile) {
    margin: 10px 0 0 0;
    width: 100%;
  }

  &__header {
    @include grid(1fr 1fr, 1fr, 0);
    width: 100%;

    &__title {
      margin: 10px;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
    }

    &__settings {
      @include flex(row, center, flex-end, nowrap);

      img {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
  }

  &__inputs {
    @include grid(1fr, 1fr 14px 1fr, 0);
    margin: 16px 0 0 0;

    @include b(mobile) {
      @include grid(1fr, 1fr 5px 1fr, 0);
    }

    &__item {
      box-sizing: border-box;
      @include flex(column, flex-end, center, nowrap);
      max-width: 440px;
      padding: 15px 20px 10px 10px;
      border-radius: 32px;
      background: #F8F5EA;
      height: 120px;

      @include b(mobile) {
        height: fit-content;
      }

      &__row {
        @include flex(row, center, space-between, no-wrap);

        input {
          background: transparent;
          border: none;
          width: 70%;
          height: 100%;
          padding: 0 30px;
          font-size: 30px;
          line-height: 36px;

          @include b(mobile) {
            padding: 0 10px;
            font-size: 22px;
            line-height: 26px;
          }
        }

        .select {
          @include flex(row, center, space-between, nowrap);
          align-self: center;
          justify-self: right;
          padding: 6px 12px;
          height: 44px;

          &__btn {
            gap: 6px;
            border-radius: 20px;
            background: #fff;
            cursor: pointer;
          }

          &__btn-yellow {
            gap: 10px;
            border-radius: 30px;
            background: #E5AC4B;
            color: #fff;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.1px;
            text-transform: uppercase;
            cursor: pointer;
          }

          &__img {
            align-self: center;
            justify-self: center;
            width: 32px;
            height: 32px;
          }

          &__text {
            align-self: center;
            justify-self: center;
            white-space: nowrap;
          }

          &__arrow {
            align-self: center;
            justify-self: center;
            width: 11px;
          }
        }
      }

      &__balance {
        @include flex(row, center, flex-end, no-wrap);
        margin-top: 14px;
        font-family: Lato, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        color: #63482A;

        &__max {
          margin-left: 5px;
          color: #CD921B;
          cursor: pointer;

          &:hover {
            font-weight: 700;
          }
        }
      }

      &__error {
        text-align: left;
        color: red;

        @include b(mobile) {
          padding: 10px;
        }
      }
    }

    &__swap {
      @include flex(row, center, center, nowrap);
      margin: -12px 0 -12px 30px;
      box-shadow: 0 1px 3px 0 #25292E14;
      background: #FFFFFF;
      border: 1px solid #E6E6E6;
      border-radius: 50%;
      width: 38px;
      height: 38px;
      z-index: 0;
      cursor: pointer;

      @include b(mobile) {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__impact {
    margin-top: 20px;
    margin-left: 10px;
  }

  &__button {
    @include flex(row, center, center, nowrap);
    margin: 20px auto 0 auto;
    width: 217px;
    height: 65px;
    border-radius: 33px;
    padding: 6px 41px 6px 41px;
    cursor: pointer;
    background: #E4D2B5;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #63482A;
  }

  .disabled {
    opacity: 0.2;
    cursor: not-allowed;
    box-shadow: none;
  }
}

